<html>
	<head>
		<title>Balance Transfer</title>
		<link rel="stylesheet" type=text/css href="css/back.css">
	</head>
	<body>
		<form action="/account" method="POST">
		<br>
		<h1 align="center">BALANCE TRANSFER</h1>
		<div class="transbox">
			<p id="h7">From:<input type="password" name="fcard" minlength="16" maxlength="16" required size="30" style="height: 50px; font-size:20pt"></p>
			<p id="h7">To :<input type="password" name="tcard" minlength="16" maxlength="16" required size="30" style="height: 50px; font-size:20pt"></p>
			<p id="h8">Amount:<input type="number" name="amt" required size="30" style="height: 50px; font-size:20pt" minlength="2"></p>
			
				<p id="h9"><input type="submit" value="TRANSFER" size="30" style="height: 50px; font-size:20pt"></p>
		</div>
	</form>
	</body>
</html>
