<html>
	<head>
		<title>options</title>
		<link rel="stylesheet" type=text/css href="css/back.css">
	</head>
	<body>
		<br>
		<h1 align="center">Welcome {{name}}</h1>
		
			<div id="whiteall">
			
			<form action="account" method="get">
				<p id="h1"><input type="submit" value="Money Transfer" size="30" style="height: 50px; font-size:20pt;border-radius:12px;border:1px solid #e67e22;padding: 10px 30px;background-color: #e67e22"></p>
			</form>
			<form action="withdrawal" method="get">
				<p id="h2"><input type="submit" value="Cash Withdrawal" size="30" style="height: 50px; font-size:20pt;border-radius:12px;border:1px solid #e67e22;padding: 10px 30px;background-color: #e67e22"></p>
			</form>
			<form action="balance" method="get">
				<p id="h3"><input type="submit" value="Balance Enquiry" size="30" style="height: 50px; font-size:20pt;border-radius:12px;border:1px solid #e67e22;padding: 10px 30px;background-color: #e67e22"></p>
			</form>
			<form action="recharge/{{id}}" method="get">
				<p id="h4"><input type="submit" value="Mobile Recharge" size="30" style="height: 50px; font-size:20pt; border-radius:12px;border:1px solid #e67e22;padding: 10px 30px;background-color: #e67e22">	</p>
			</form>

		</div>

		
	</body>
</html>
