<html>
	<head>
		<title>success</title>
		<link rel="stylesheet" type=text/css href="back.css">
	</head>
	<body>
		<br>
		<div class="transbox">
			<h1 align="center">YOUR MOBILE RECAHRGE IS SUCCESSFUL</h1>
		</div>
	</body>
</html>

