<html>
	<head>
		<title>success</title>
		<link rel="stylesheet" type=text/css href="css/back.css">
	</head>
	<body>
		<br>
		<div class="transbox">
			<h1 align="center">YOUR AMOUNT IS TRANSFERED</h1>
			<a href="options" >Go to main screen</a>
		</div>
	</body>
</html>
