<html>
	<head>
		<title>Cash withdrawal</title>
		<link rel="stylesheet" type=text/css href="css/back.css">
	</head>
	<body>
		<form action="success" method="post">
		<br>
		<h1 align="center">CASH WITHDRAWAL</h1>
		<div class="transbox">
			<h1 align="center">Enter amount to withdraw</h1>
			<p id="h5"><input type="text" name="rupees" required size="20" style="height: 50px; font-size:20pt" minlength="2" >
			<p id="h6"><input type="submit" value="SUBMIT" size="30" style="height: 50px; font-size:20pt"></p>
		</div>
		</form>
	</body>
</html>
